In [1]:
import numpy as np
import pandas as pd

In [2]:
#1) The memory usage of the data is around 6.1 mb.How can we reduce the memory usage of the data set?

In [3]:
data=pd.read_csv(r"C:\Users\sujit\Downloads\newautos.csv", encoding_errors= 'replace')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          371528 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              371528 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                371528 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             371528 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB

In [4]:
datac=data.copy()

In [7]:
datac.drop(["Unnamed: 0","dateCrawled","nrOfPictures","lastSeen","notRepairedDamage"],axis=1,inplace=True)

In [8]:
datac.to_csv(r"C:\Users\sujit\Downloads\newautos1.csv")

In [16]:
datac=datac.astype({"yearOfRegistration":"int32","monthOfRegistration":"int16"})

In [17]:
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   name                 371528 non-null  object
 1   seller               371528 non-null  object
 2   offerType            371528 non-null  object
 3   price                371528 non-null  int64
 4   abtest               371528 non-null  object
 5   vehicleType          371528 non-null  object
 6   yearOfRegistration   371528 non-null  int32
 7   gearbox              371528 non-null  object
 8   powerPS              371528 non-null  int64
 9   model                371528 non-null  object
 10  kilometer            371528 non-null  int64
 11  monthOfRegistration  371528 non-null  int16
 12  fuelType             371528 non-null  object
 13  brand                371528 non-null  object
 14  dateCreated          371528 non-null  object
 15  postalCode           371528 non-null  int64
dtypes: int16(1), int32(1), int64(4), object(10)
memory usage: 41.8+ MB